{{ form_start(form, {
    'action': url('symbio_orangegate_form_form_submit', {'formId': formId}),
    'attr': {
        'novalidate': 'novalidate',
        'class': 'symbio_orangegate_form_form',
        'id': 'symbio_orangegate_form_form_' ~ formId
    }
  })
}}

<div class="potfield">
    {{ form_row(form.email) }}
</div>

{{ form_widget(form) }}

{{ form_end(form) }}
