{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="container">
        {# always keep this div.orangegate_form_wrapper - it's used by ajax calls #}
        <div class="orangegate_form_wrapper">
            {% include 'SymbioOrangeGateFormBundle:Block:_form.html.twig' %}
        </div>

        {# todo remove this line, when the javascript block will be working #}
        <script src="{{ asset('bundles/symbioorangegateform/form.js') }}" type="text/javascript"></script>
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts %}
        {# todo how to make this to work? #}
        <script src="{{ asset('bundles/symbioorangegateform/form.js') }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}
