<a class="btn btn-sm btn-default" href="{{ path('admin_orangegate_form_form_recipient_list', {'id': object.id }) }}">
    <i class="glyphicon glyphicon-list"></i>
    {{ admin.trans('button.text_recipients') }}
</a>